@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@import "./libs/_slick-theme";
@import "./libs/_slick";

@import "./vars/_colors";

@import "./blocks/_header";
@import "./blocks/_overlay-catalog";
@import './blocks/_popular-products';
@import "./blocks/_discounted-goods";
@import "./blocks/_main-slider";
@import "./blocks/_catalog-page";
@import "./blocks/_footer";
@import "./blocks/_checkout-page";
@import "./blocks/_basket-page";
@import "./blocks/_cart-page.scss";
@import "./blocks/_about-page.scss";
@import "./blocks/_advantages";
@import "./blocks/_feedback-clip";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
button,
a {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 75%;
    margin: 0 auto;
    position: relative;
}