
@import "./libs/_fonts";
@import "./libs/_slick-theme";
@import "./libs/_slick";

@import "./vars/_colors";

@import "./blocks/_request-btn";
@import "./blocks/_header";
@import "./blocks/_overlay-catalog";
@import './blocks/_discount';
@import './blocks/_popular-products';
@import './blocks/_sales';
@import "./blocks/_discounted-goods";
@import "./blocks/_main-slider";
@import "./blocks/_catalog-page";
@import "./blocks/_requisites";
@import "./blocks/_footer";
@import "./blocks/_checkout-page";
@import "./blocks/_basket-page";
@import "./blocks/_cart-page.scss";
@import "./blocks/_about-page.scss";
@import "./blocks/_advantages";
@import "./blocks/_feedback-clip";
@import "./blocks/_payments";
@import "./blocks/_make-order";
@import "./blocks/_provider";
@import "./blocks/_cooperation";
@import "./blocks/_delivery";
@import "./blocks/_terms";
@import "./blocks/_advantages-company";
@import "./blocks/_wholesalers";
@import "./blocks/_advantages-buying";
@import "./blocks/_wholesalers";
@import "./blocks/_contact-section";
@import "./blocks/_form-section";
@import "./blocks/_contacts";
@import "./blocks/_info";
@import "./blocks/_info-catalog";
@import "./blocks/_catalog-item";
@import "./blocks/_property";
@import "./blocks/_detailed";
@import "./blocks/_rules";
@import "./blocks/_category-catalog";
@import "./blocks/_specifications";
@import "./blocks/_reviews";
@import "./blocks/_header-menu";
@import "./blocks/_navbar-mobile";
@import "./blocks/_media";

@import "./media/_media-requisites";
@import "./media/_media-main";
@import "./media/_media-sales";
@import "./media/_media-contact";
@import "./media/_media-make-order";
@import "./media/_media-rules";
@import "./media/_media-wholesalers";
@import "./media/_media-advantages-buying";
@import "./media/_media-contact-section";
@import "./media/_media-form-section";
@import "./media/_media-payments";
@import "./media/_media-checkout";
@import "./media/provider";
@import "./media/media-cooperation";
@import "./media/media-advantages-company";
@import "./media/_media-category";
@import "./media/_media-popular-products";
@import "./media/_media-overlay-catalog";
@import "./media/_media-catalog-item";
@import "./media/_media-category-catalog";
@import "./media/_media-delivery";
@import "./media/_media-terms";
@import "./media/_media-about";
@import "./media/_media-about-wrapper";
@import "./media/_media-advantages";
@import "./media/_media-feedback-clip";
@import "./media/_media-cart.scss";


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
button,
a {
    font-family: 'Gilroy', sans-serif;
}

.container {
    width: 76%;
    margin: 0 auto;
    position: relative;
}

.container-60 {
    width: 60%;
    margin: 0 auto;
    position: relative;
}

.overflow-yh {
    overflow-y: hidden;
}