.advantages {
    margin-top: 65px;
    &__title {
        font-weight: 700;
        font-size: 30px;
        line-height: 140%;
        text-align: center;
    }
    &__block {
        width: 100%;
        margin-top: 29px;
        display: flex;
        justify-content: space-between;
    }
    &__item {
        padding: 47px 42px 65px;
        width: 23%;
        min-height: 355px;
        background-color: $main-base;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        &-img {
            width: 50px;
            height: 50px;
            img {
                width: inherit;
                object-fit: cover;
            }
        }
        &-text {
            font-family: 'Roboto';
            font-weight: 500;
            font-size: 20px;
            text-align: center;
            margin-top: 25px;
        }
        &-descr {
            font-weight: 500;
            font-size: 16px;
            text-align: center;
            margin: 0 auto;
            margin-top: 36px;
            color: $main-accent2;
        }
    }
}