.footer {
    margin-top: 115px;
    padding: 55px 0 60px 0;
    background-color: $main-base;

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__descr {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
    }

    

    &__item {
        &-img {
            width: max-content;
            display: block;
        }
        &-title {
            font-weight: 700;
            font-size: 16px;
            line-height: 16px;
            color: $main-text;
            &:last-child {
                text-decoration: underline;
            }
        }

        .hover {
            position: relative;

            &::after {
                content: "";
                position: absolute;
                width: 47px;
                border: 3px solid $main-text;
                left: 0;
                bottom: -17px;
            }
        }

        .mt-20 {
            margin-top: 10px;
            font-size: 12px;
        }

        &-text {
            display: flex;
            justify-content: space-between;
            margin-top: 23px;
        }

        &-subtitle {
            font-weight: 400;
            font-size: 12px;
            line-height: 12px;
            color: #48494D;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
        &-dev {
            &:hover {
                text-decoration: none;
            }
        }

        &-phone {
            margin-top: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &-round {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 26px;
            height: 26px;
            background-color: $main-text;
            border-radius: 100%;
            margin-right: 12px;
            padding: 5px;
        }

        &-number {
            display: flex;
            flex-direction: column;
            align-items: baseline;
            a {
                font-weight: 400;
                font-size: 14px;
                line-height: 23px;
                color: #737373;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }

        &-social {
            width: 70%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 14px;
        }

        &-links {
            display: flex;
            flex-direction: column;
            margin-top: 5px;
            a {
                font-weight: 400;
                font-size: 14px;
                line-height: 23px;
                color: $main-text;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        margin-top: 25px;
        width: 173px;
        height: 32px;
        background-color: $main-accent;
        filter: drop-shadow(1px 2px 3px rgba(0, 0, 0, 0.2));
        border-radius: 10px;
        &_img {
            width: 16px;
            height: 16px;
            margin-right: 5px;
            img {
                height: inherit;
                width: inherit;
                object-fit: cover;
            }
        }
        &_title {
            font-weight: 500;
            font-size: 11.5px;
            line-height: 14px;
            color: #FFFFFF;
            letter-spacing: 0.05em;
        }
    }
}