.popular {
    margin-top: 80px;

    &__title {
        font-weight: 700;
        font-size: 25px;
        line-height: 30px;
        color: #2F3035;

    }

    &__wrapper, .inner {
        margin-top: 20px;
    }

    &__item {
        position: relative;
        width: 240px !important;
        border-radius: 3px;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        margin: 0 12px 0 18px;
        border-radius: 15px;
        padding-bottom: 10px;
        &-sale {
            width: 260px !important;
            margin: 0 12px 0 18px;
        }
        &:last-child {
            margin-right: 0;
        }

        &_photo {
            border-radius: 15px;
            &-img {
                margin: 0 auto;
                width: 258px;
                height: 295px;
                border-radius: 15px;
                img {
                    width: inherit;
                    height: inherit;
                    object-fit: cover;
                    border-radius: 15px;
                }

                &_sale {
                    width: 100px;
                    height: 110px;
                }
            }
            &::after {
                content: "посмотреть товар";
                position: absolute;
                top: 35%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-weight: 400;
                font-size: 20px;
                line-height: 23px;
                color: #2F3035;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 90%;
                height: 61px;
                background: #FFFFFF;
                opacity: 0;
                visibility: hidden;
                border-radius: 15px;
                font-weight: 400;
                transition: all 0.5s;
                z-index: 1;
            }
            &:hover {
                box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
                &::after {
                    opacity: 0.9;
                    visibility: visible;
                    transition: all 0.5s;
                }
            }
        }

        &-text {
            width: 95%;
            margin: 0 auto;
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            color: #2F3035;
            margin-top: 8px;
        }

        &_descr {
            width: 95%;
            margin: 0 auto;
            position: relative;
            display: flex;
            flex-direction: row;
            margin-top: 9px;
            align-items: center;
            &-price {
                width: 77%;
                position: relative;
                font-weight: 700;
                font-size: 21px;
                line-height: 23px;
                color: $red-color;
                text-transform: uppercase;
                span {
                    width: max-content;
                    position: relative;
                    font-size: 15px;
                    color: $main-text;
                    margin-left: 6px;
                    &::after {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        height: 1px;
                        width: 100%;
                        background-color: $red-color;
                    }
                }
            }
    
            &-like {
                position: relative;
                z-index: 10;
                text-align: right;
                svg {
                    fill: transparent;
                    stroke: black;
                    transition: .1s all ease;
                    path {
                        stroke: none;
                        transition: .1s all ease;
                    }
                }
            }
    
            &-btn {
                border: none;
                cursor: pointer;
                background: none;
                margin-left: 10px;
                margin-bottom: 3px;
            }
        }
    }

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 252px;
        height: 50px;
        background: #fff;
        text-align: center;
        margin: 0 auto;
        margin-top: 35px;
        border-radius: 20px;
        cursor: pointer;
        border: 2px solid $main-accent;
        transition: .2s all;
        span {
            font-weight: 700;
            font-size: 15px;
            text-align: center;
            letter-spacing: 0.11em;
            color: $main-accent;
            margin-bottom: 2px;
        }
        svg {
            margin-left: 8px;
            margin-top: 1px;
        }
        &:hover {
            background-color: $main-accent;
            border-color: transparent;
            filter:  drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.1));
            span {
                margin-bottom: 0;
                color: #fff;
                font-weight: 400;
            }
            svg {
                path {
                    fill: #fff;
                }
            }
        }
    }

    &__sale {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 63px;
        height: 25px;
        background: $main-accent;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #FFFFFF;
        text-transform: uppercase;
    }
    .slick-track {
        position: relative;
        display: flex;
        justify-content: unset !important;
    }
    .slick-prev {
        left: -4% !important;
        top: 42%;
        transform: translateY(-50%);
    }
    .slick-next {
        right: -4.5% !important;
        top: 42%;
        transform: translateY(-50%);
    }
}



.like-active {
    svg {
        fill: red;
        transition: .1s all ease;
        path {
            fill: red;
            transition: .1s all ease;
        }
    }
}

.mt-35{
    margin-top: 35px;
}