.sales {
    width: 100%;
    margin-top: 80px;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__block {
        width: 100%;
        height: 171px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $main-accent;
        border-radius: 25px;
        margin-bottom: 25px;
        &-50 {
            width: 49%;
            & > .sales__item {
                width: 93%;
                & > .sales__title {
                    width: 31%;
                    margin-right: 0;
                }
            }
        }
    }
    &__item {
        width: 65%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__img {
        margin-top: 12px;
        // margin-left: 98px;
        // margin-right: 80px;
        width: 230px;
        height: 160px;
        img {
            width: inherit;
            height: inherit;
        }
    }
    &__title {
        width: 22%;
        font-weight: 700;
        font-size: 30px;
        line-height: 36px;
        color: $main-base;
        margin-right: 50px;
    }
    
    &__btn {
        width: 216px;
        height: 45px;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: .3s all;
        border: 2px solid transparent;
        outline: none;
        font-size: 18px;
        border-radius: 8px;
        font-weight: 500;
        background-color: #fff;
        &:hover {
            background-color: transparent;
            border-color: #fff;
            color:#fff;
        }
    }
    .container-60 {
        .sales__block-50 {
            height: 145px;
            .sales__item {
                width: 95%;
            }
            .sales__img {
                margin-top: 7px;
                width: 161px;
                height: 120px;
            }
            .sale__text {
                font-size: 24px;
                width: 38% !important;
                line-height: 30px;
            }
            .sales__btn {
                font-size: 18px;
                border-radius: 25px;
                width: 45%;
            }
        }
    }
}

.sale__text {
    width: 45% !important;
}