@media (max-width: 1500px) {
    .slider {
        padding: 32px 0 0 !important;
        &__images {
            height: 400px !important;
        }
    }
    .property {
        margin-left: 3%;
        &__buy {
            &_btns {
                &-btn {
                    font-size: 16px;
                    line-height: 18px;
                    padding-top: 0;
                    align-items: center;
                }
            }
        }
    }
    .swiper-wrapper1 {
        width: 485px;
    }
}