@media (max-width: 1902px) {
    .advantages {
        .container-60 {
            width: 66% !important;
        }
    }
}
@media (max-width: 1735px) {
    .advantages {
        .container-60 {
            width: 80% !important;
        }
    }
}
@media (max-width: 1445px) {
    .advantages {
        .container-60 {
            width: 84% !important;
        }
    }
}
@media (max-width: 1200px) {
    .advantages {
        &__block {
            justify-content: center;
            flex-wrap: wrap;
        }
        &__item {
            width: 34%;
            margin: 15px;
        }
    }
}
@media (max-width: 991px) {
    .advantages {
        .container-60 {
            width: 95% !important;
        }
    }
}
@media (max-width: 786px) {
    .advantages {
        &__block {
            flex-direction: column;
            align-items: center;
            margin: 0;
        }
        &__item {
            width: 50%;
            margin: 0;
            margin-top: 30px;
        }
    }
}
@media (max-width: 640px) {
    .advantages {
        &__item {
            width: 64%;
        }
        &__title {
            font-size: 27px;
        }
    }
}
@media (max-width: 480px) {
    .advantages {
        &__item {
            width: 83%;
        }
        &__title {
            font-size: 20px;
        }
    }
}