@media (max-width: 1902px) {
    .feedback-clip {
        .container-60 {
            width: 66% !important;
        }
    }
}
@media (max-width: 1735px) {
    .feedback-clip {
        .container-60 {
            width: 80% !important;
        }
    }
}
@media (max-width: 1445px) {
    .feedback-clip {
        .container-60 {
            width: 84% !important;
        }
        &__text {
            font-size: 29px;
        }
        &__video {
            width: 495px;
            height: 350px;
        }
    }
}
@media (max-width: 1200px) {
    .feedback-clip {
        &__text {
            font-size: 25px;
        }
        &__video {
            width: 390px;
            height: 280px;
        }
    }
}
@media (max-width: 991px) {
    .feedback-clip {
        .container-60 {
            width: 95% !important;
        }
        &__block {
            width: 740px;
            margin: 0 auto;
        }
        &__text {
            font-size: 20px;
        }
        &__video {
            width: 360px;
            height: 250px;
        }
    }
    .parts {
        &-1 {
            display: none;
        }
        &-2 {
            display: none;
        }
    }
}
@media (max-width: 786px) {
    .feedback-clip {
        padding-top: 45px;
        &__block {
            width: auto;
            margin: unset;
            flex-direction: column;
            align-items: center;
            justify-content: unset;
        }
        &__text {
            font-size: 24px;
            &:not(&:first-child) {
                display: none;
            }
        }
        &__video {
            margin-top: 30px;
        }
    }
}
@media (max-width: 640px) {
    .feedback-clip {
        &__text {
            font-size: 19px;
        }
        &__video {
            width: 280px;
            height: 180px;
        }
        &__photo {
            width: 60px;
            height: 60px;
        }
    }
}
@media (max-width: 425px) {
    .feedback-clip {
        &__text {
            font-size: 15px;
        }
        &__video {
            width: 220px;
            height: 130px;
        }
        &__photo {
            width: 40px;
            height: 40px;
        }
    }
}