@media (max-width: 1902px) {
    .feedback-clip {
        .container-60 {
            width: 66% !important;
        }
    }
}
@media (max-width: 1735px) {
    .feedback-clip {
        .container-60 {
            width: 80% !important;
        }
    }
}
@media (max-width: 1445px) {
    .feedback-clip {
        .container-60 {
            width: 84% !important;
        }
    }
}
@media (max-width: 991px) {
    .feedback-clip {
        .container-60 {
            width: 95% !important;
        }
    }
}