@media (max-width: 1200px) {
    .checkout {
        &__wrapper {
            flex-direction: column;
            align-items: center;
            justify-content: unset;
        }
        &__item {
            &-title {
                text-align: center;
            }
        }
    }
}
@media (max-width: 991px) {
    .checkout {
        &__item {
            &-last {
                &_btn {
                    font-size: 22px;
                    height: 52px;
                    line-height: 43px;
                    width: 350px;
                }
            }
        }
    }
}
@media (max-width: 786px) {
    .checkout {
        &__item {
            width: 100%;
            &-wrapper {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 40px;
                width: 100%;
                &_small {
                    flex-direction: column;
                    align-items: center;
                    justify-content: unset;
                    width: 100%;
                }
                &-input {
                    width: 70%;
                    &_23 {
                        margin-top: 23px;
                    }
                }
                &_last {
                    width: 70%;
                    align-items: unset;
                    margin: 0 auto;
                    margin-top: 40px;
                }
            }
            &-input {
                width: 100%;
            }
        }
    }
}
@media (max-width: 640px) {
    .checkout {
        &__item {
            &-last {
                &_btn {
                    display: block;
                    font-size: 20px;
                    height: 40px;
                    line-height: 36px;
                    width: 255px;
                    margin: 0 auto;
                    margin-top: 20px;
                }
                &_polyce {
                    justify-content: center;
                }
                &_footer {
                    &-title {
                        font-size: 22px;
                    }
                    &-price {
                        font-size: 18px;
                    }
                }
            }
            &-title {
                font-size: 24px;
            }
            &-wrapper {
                &-input {
                    width: 80%;
                }
                &_last {
                    width: 100%;
                }
            }
        }
    }
}
@media (max-width: 425px) {
    .checkout {
        &__item {
            &-last {
                &_btn {
                    font-size: 18px;
                    height: 36px;
                    line-height: 32px;
                    width: 230px;
                }
                &_title {
                    font-size: 18px;
                }
                &_navigation {
                    &-item {
                        display: flex;
                        align-items: center;
                        width: max-content;
                        justify-content: space-between;
                        label {
                            margin-left: 4px;
                            font-size: 14px;
                        }
                    }
                }
                &_polyce {
                    label {
                        font-size: 12px;
                        a {
                            font-size: 12px;
                        }
                    }
                }
                &_descr {
                    font-size: 13px;
                    &-first {
                        width: 100%;
                    }
                }
                &_footer {
                    display: flex;
                    align-items: center;
                    &-title {
                        font-size: 18px;
                    }
                    &-price {
                        font-size: 14px;
                    }
                }
            }
            &-title {
                font-size: 20px;
            }
            &-wrapper {
                &-input {
                    width: 100%;
                }
            }
        }
    }
}