@media(max-width: 1445px) {
    .payments {
        .container-60 {
            width: 90% !important;
        }
    }
}
@media(max-width: 991px) {
    .payments {
        &__descr {
            &_last {
                width: 70%;
            }
        }
    }
}
@media(max-width: 786px) {
    .payments {
        &__descr {
            &_last {
                width: 86%;
            }
        }
    }
}
@media(max-width: 640px) {
    .payments {
        .catalog-page {
            &__title {
                font-size: 25px;
                margin-top: 30px;
            }
        }
        &__title {
            margin-top: 40px;
        }
        &__subtitle {
            font-size: 16px;
        }
        &__descr {
            font-size: 14px;
            &_last {
                width: 100%;
            }
        }
    }
}
@media(max-width: 420px) {
    .payments {
        .catalog-page {
            &__title {
                font-size: 20px;
                margin-top: 25px;
            }
            &__list {
                &_item {
                    font-size: 14px;
                    &-photo {
                        &-img {
                            width: 15px;
                            height: 15px;
                            img {
                                width: inherit;
                                height: inherit;
                                object-fit: cover;
                            }
                        }
                    }
                }
            }
        }
        &__subtitle {
            font-size: 12px;
            margin-top: 40px;
        }
        &__descr {
            font-size: 11px;
        }
        &__title {
            font-size: 18px;
        }
        &__img {
            &_wrap {
                width: 70px;
                height: max-content;
                img {
                    height: inherit;
                    width: inherit;
                    object-fit: cover;
                }
            }
        }
        &__item {
            &_nav {
                &-title {
                    font-size: 13px;
                }
                ol {
                    padding-left: 25px;
                    li {
                        font-size: 11px;
                    }
                }
            }
        }
    }
}