@media(max-width: 991px) {
    .catalog-page{
        &__title {
            font-size: 25px;
        }
    }
    .rules {
        .container-60 {
            width: 80%;
        }
        &__title {
            font-size: 16px;
        }
        &__descr {
            font-size: 15px;
        }
    }
}


@media(max-width: 768px) {
    .catalog-page{
        &__title {
            font-size: 25px;
        }
    }
    .rules {
        &__title {
            font-size: 15px;
        }
        &__descr {
            font-size: 14px;
            line-height: 190%;
        }
    }
}


@media(max-width: 640px) {
    .catalog-page{
        &__title {
            font-size: 23px;
        }
    }
    .rules {
        &__title {
            font-size: 14px;
        }
        &__descr {
            font-size: 14px;
            line-height: 200%;
        }
    }
}

@media(max-width: 480px) {
    .catalog-page{
        &__title {
            font-size: 19px;
        }
    }
    .rules {
        padding-top: 50px;
        &__title {
            font-size: 12px;
        }
        &__descr {
            font-size: 11px;
            line-height: 190%;
        }
    }
}


@media(max-width: 320px) {
    .catalog-page{
        &__title {
            font-size: 19px;
        }
    }
    .rules {
        &__title {
            font-size: 11px;
        }
        &__descr {
            font-size: 11px;
            line-height: 200%;
        }
    }
}